<h1><%= @cocktail.name %></h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<ul>   
  <% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to "delete", dose_path(dose), method: :delete %></li>
  <% end %>
</ul>

<p>  
  <%= link_to "ADD DOSES", new_cocktail_dose_path(@cocktail)  %>
</p>

<p>
  <%= link_to "back to main page", cocktails_path %>
</p>